.menu-bar-mobile {
  position: fixed;
  height: 100%;
  width: 300px;
  background: #fff;
  z-index: 9999999;
  box-shadow: 1px 0 1px #ccc;
  overflow-y: scroll;
  display: none;
}
.logo-menu {
  float: left;
  width: 100%;
  background: #fff;
  text-align: center;
}
.logo-menu img {
  width: 110px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.menu-bar-lv-1 {
  float: left;
  width: 100%;
  position: relative;
}
.menu-bar-lv-1:hover > .menu-bar-lv-2,
.menu-bar-lv-2:hover > .menu-bar-lv-3 {
  display: block;
}
.menu-bar-lv-1 a {
  float: left;
  width: 100%;
  height: 40px;
  line-height: 30px;
  background: #fff;
  margin-bottom: 1px;
  padding: 5px 15px;
  font-size: 14px;
  border-top: 1px solid #ebebeb;
}
.menu-bar-lv-1 a:hover {
  box-shadow: 0 0 2px #433;
}
.menu-bar-lv-1 span {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  height: 30px;
  font-size: 17px;
  text-align: center;
  padding-top: 9px;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
}
.menu-bar-lv-2,
.menu-bar-lv-2 a,
.menu-bar-lv-3,
.menu-bar-lv-3 a {
  position: relative;
  width: 100%;
  float: left;
}
.menu-bar-lv-2,
.menu-bar-lv-3 {
  display: none;
}
.menu-bar-lv-2 a {
  padding: 5px 15px;
}
.menu-bar-lv-2 i:last-child {
  margin-right: 7px;
}
.menu-bar-lv-3 a {
  padding: 5px 33px;
}
.rotate-menu {
  transform: rotate(180deg);
  top: 10px !important;
}
.menu-btn-show {
  position: absolute;
  width: 28px;
  height: 27px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  right: 15px;
  top: 130px;
  z-index: 9999;
}
.menu-btn-show .border-style {
  width: 100%;
  height: 4px;
  background: #106d62;
  float: left;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
}
.fixed-box .menu-btn-show .border-style {
  background: #707070;
}
.box-login-logout {
  float: left;
  width: 100%;
  position: relative;
  background: #f9f9f9;
}
.boder-rotate {
  position: absolute;
  left: 50%;
  height: 40px;
  width: 1px;
  background: #ebebeb;
  transform: rotate(30deg);
}
.box-login-logout i {
  margin-right: 6px;
}
.box-login-logout .left {
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 15px;
  border-top: 1px solid #ebebeb;
}
.shadow-open-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.51);
  z-index: 999;
  display: none;
}
.menu-btn-show.active .border-style {
  background: #fff;
  display: none;
}
.menu-btn-show.active .border-style:first-child {
  transform: rotate(42deg);
  margin-top: 5px;
  display: block;
}
.menu-btn-show.active .border-style:last-child {
  transform: rotate(-42deg);
  margin-top: -9px;
  display: block;
}
@media screen and (min-width: 992px) {
  .menu-btn-show {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .menu-btn-show {
    display: block;
    top: 77px;
  }
  .hide-mobile,
  .main-menu {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .menu-bar-mobile {
    width: 250px;
  }
}
@media (max-width: 992px) {
  .menu_main {
    display: none;
  }
}
.menu_main ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.menu_main > ul > li {
  float: left;
}
.menu_main ul li {
  position: relative;
}
.menu_main > ul > li {
  position: relative;
}
.menu_main > ul > li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 12px 20px 10px 20px;
  display: block;
}
.menu_main > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0px;
  min-width: 222px;
  list-style: none;
  padding: 0px;
  z-index: 99;
  top: 80px;
  transition: 500ms ease-out 200ms;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
}
.menu_main > ul > li ul li {
  z-index: 10;
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}
.menu_main > ul > li:hover > ul {
  top: 40px;
  opacity: 1;
  visibility: visible;
  display: block;
}
.menu_main > ul > li ul li a {
  transition: 0.5s all ease;
  padding: 8px 15px;
  display: block;
  color: #666;
}
.menu_main > ul > li ul li a:hover {
  background: #f3f3f3;
}
.menu_main > ul > li > ul ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 120%;
  min-width: 222px;
  list-style: none;
  padding: 0px;
  z-index: 99;
  top: 0px;
  transition: 500ms ease-out 200ms;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
}
.menu_main > ul > li > ul > li:hover ul {
  left: 100%;
  opacity: 1;
  visibility: visible;
  display: block;
}

.btn-xemtatca {
  text-align: center;
  margin-top: 15px;
}
.xemtatca {
  display: inline-block;
  padding: 5px 15px;
  background: #fff;
  color: #5982c0;
  border: 1px solid #f3f3f3;
  text-align: center;
  margin: auto;
}
.product_list {
  display: flex;
  border-bottom: 1px solid #c1c1c163;
  /* margin-bottom: 5px; */
}
.menu_slider_news .slider_main .small_album {
  padding: 5px 0px;
  padding-bottom: 0px;
  overflow: hidden;
  height: 48px;
}
.slick-active {
  background: #ffffff !important;
}
.small_album .item h2 {
  color: rgb(94, 85, 85) !important;
  display: block !important;
  text-align: center;
  width: 100%;
}
.small_album .item {
  display: flex !important;
  align-items: center;
}
.video_hot .video_hot_small .item {
  width: 50%;
}
.video_hot_big iframe {
  height: 311px;
}
.menu_slider_news .menu_left {
  background: #ffffff;
}
.album_user #owl-demo2 .item img {
  width: 100%;
  height: 200px;
  padding: 0px;
}
.video_hot .video_hot_small .item:nth-child(2) {
  padding-right: 0px;
}
.video_hot .video_hot_small .item:nth-child(4) {
  padding-right: 0px;
}
.menu_slider_news .slider_main .small_album {
  position: relative;
}
.menu_slider_news .slider_main .small_album:after {
  position: absolute;
  width: 5px;
  right: 0px;
  top: 0px;
  height: 100%;
  background: #ffff;
  content: "";
}

.list_product_category .owl-carousel {
  float: none;
}
footer .item form input {
  width: 100% !important;
  border-radius: 0px !important;
}
.small_album h2 {
  opacity: 0.5;
}
.small_album .slick-slide.slick-current h2 {
  opacity: 1;
}
header .search_box form {
  opacity: 1 !important;
}
#main {
  background: #fff;
}
.menu_slider_news .slider_main .small_album {
  height: 62px;
}

.menu_slider_news .slider_main .small_album .item {
  min-height: 62px;
}
.menu_slider_news .news_right {
  width: 25%;
  height: 384px;
  background: #fff;
}
.main_v .list_product_category .slider_product .item .content h3 {
  margin-top: 0px;
  font-weight: 700;
  max-height: 40px;
  min-height: 36px;
  overflow: hidden;
}
.item-images .img {
  width: 100%;
  display: flex;
  padding-top: 140%;
  position: relative;
  overflow: hidden;
}
.item-images img {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main_v .list_product_category .slider_product .owl-nav {
  top: 0px;
}
.product_list .product_small .item .content h3 {
  margin-top: 0px;
  font-weight: 700;
  max-height: 40px;
  min-height: 36px;
  overflow: hidden;
  line-height: normal;
}
.product_list .product_small .item .content .link_product {
  text-align: center;
}
.main_v .list_product_category .slider_product .item .content p {
  margin: 0px;
}
/*.addres_shop .list_item {

  padding: 15px 0px;
  }*/
footer {
  color: #fff;
}

.product_list .item .link_product a,
.product_list .product_small .item .content .link_product a,
.main_v .list_product_category .slider_product .item .content .link_product a {
  padding: 3px 5px;
  width: 86px;
}

.product_list .item .link_product {
  text-align: center;
}
.product_list .product_small .item .content p {
  margin: 0px;
  text-align: center;
}
.product_list .item p {
  text-align: center;
  margin: 2px 0px;
}
.product_list .product_small .item .content h3 {
  margin-bottom: 10px;
  text-align: center;
  line-height: normal;
}
.main_v .list_product_category .slider_product .item .content h3 {
  margin-bottom: 10px;
}
.list_product_category h3 {
  text-align: center;
  line-height: normal;
}
.slider_product .item {
  width: 100%;
}
.menu_slider_news .news_right .list_news li {
  height: 70px;
  padding-top: 6px;
  padding-bottom: 10px !important;
}
.menu_slider_news .news_right #gala {
  height: 350px;
}
.menu_slider_news .news_right #list-videos2 li {
  height: 95px;
  padding: 15px 10px;
}
.menu_slider_news .menu_left > ul > li > a {
  color: #000;
}

.menu_slider_news .menu_left h3 {
  color: #000;
  border-bottom: 1px solid #000;
}
.menu_slider_news .news_right ul#sidebar1 li.li1 figure h2 {
  color: black;
}
.menu_slider_news .news_right ul#sidebar1 li.li1 figure h2.hide1 {
  color: black !important;
}

.small_album .item h2 {
  color: #000 !important;
  display: block !important;
  text-align: center;
  width: 100%;
}
.menu_slider_news .news_right .show1 {
  color: #fff !important;
  background: #009aca;
}
.menu_slider_news .news_right .list_news li h3 {
  color: #000;
}
.menu_slider_news .slider_main .small_album .item {
  padding: 8px 0px;
  cursor: pointer;
  min-height: 52px;
}
.banner_qc img {
  margin-bottom: 10px;
  width: 100%;
}
.list_category_pc {
  float: right;
}
.list_category_pc ul li {
  display: inline-block;
}
.main_v .list_product_category .list_category_pc ul li a {
  display: block;
  font-size: 12px;
  color: #31b0d3;
  padding: 14px 15px;
}
.main_v .list_product_category .list_category_pc ul li a:hover {
  text-decoration: underline;
}
.main_v .list_product_category .title_product_pc {
  margin: 0px;
  /* border-bottom: 1px solid rgba(142, 142, 142, 0.25); */
  position: relative;
}
.main_v .list_product_category .title_product_pc:after {
  clear: both;
  content: "";
  display: table;
}
.main_v .list_product_category .title_product_pc h2 {
  margin: 0px;
  border-bottom: 0px;
  position: relative;
  float: left;
}
.big_album {
  width: 100%;
}
.big_album.owl-carousel .owl-item .item {
  width: 100%;
}
.big_album.owl-carousel .owl-item .item img {
  width: 100%;
  padding-left: 2px;
}
.menu_slider_news .slider_main .small_album .item {
  border-right: 1px solid #dddddd;
}
#sync21 .owl-item.current .item h2 {
  opacity: 1 !important;
}
body {
  font-family: "Helvetica", "Roboto", "Roboto Condensed", "sans-serif", "Arial" !important;
}

.menu_slider_news .slider_main .small_album {
  padding: 2px 0px;
}
.callus_fix {
  background: #009aca;
  box-shadow: 1px 1px 10px 2px rgba(224, 224, 224, 0.8);
  position: fixed;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 0px;
  border-radius: 40px;
  color: #fff;
  z-index: 99999;
  opacity: 0.9;
  left: 60px;
  float: right;
  bottom: 0px;
}
.callus_fix i {
  background: #009aca url("img/i_phone.png") no-repeat 4px 4px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: block;
  float: left;
}
.callus_fix a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.cont-main .link_product_search a {
  font-weight: 600;
  color: #009dc9;
  border: 1px solid #009dc9;
}

/*06072020*/
.pk_rel {
  float: left;
  width: 100%;
  margin: 40px 0 0;
}
#shop_store_location {
  margin-top: 50px;
  float: left;
  width: 100%;
}
.pk_rel .title-block-detail {
  float: left;
  width: 100%;
}

.pk_rel .item-product {
  width: 100%;
  background: #e3e3e37a;
  border-right: none;
  border-bottom: none;
  height: 205px;
}

.pk_rel .img {
  float: left;
  width: 100%;
  padding: 35%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.pk_rel .img a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pk_rel .img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  min-width: 100%;
  margin: 0;
}

.pk_rel .item-info {
  float: left;
  width: 100%;
  padding: 0 10px;
}
.pk_rel .item-info h5 {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.pk_rel .item-info h5 a {
  color: #000;
}
.pk_rel .item-price {
  display: flex;
}
.old-price {
  display: inline;
  margin-right: 5px;
}

.old-price .price {
  font-size: 16px;
  color: #666;
  text-decoration: line-through;
  padding: 0;
  font-style: initial;
  font-weight: 400;
  padding-right: 15px;
}

.regular-price {
  display: inline;
}

.regular-price .price {
  color: #ff0600;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
}
.box-product .box-info h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
